* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background-color: #181723;
  color: #d3d3d3;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
